venv
.env
.ipynb_checkpoints
*.ipynb
files/
my_custom_image/
my_training_files/
dags/s09_l48_dags_python_with_postgres.py
zzz*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db